.header__subtitle {
  position: absolute;
  left: 64px;
  bottom: 30px;
  /*Прижал описание к нижней границе блока*/
  margin: 0;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  max-width: 388px;
  z-index: 3;
}